<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blockchain Explorer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="./css/site.css" />
</head>
<body>
    <div class="container body-content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <a class="navbar-brand" data-toggle="collapse" href="#explorerConfiguration" style="cursor: pointer">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>Blockchain Explorer
            </a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" id="buttonHome">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="buttonBlocks">Blocks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="buttonTransactions">Transactions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="buttonAccounts">Accounts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="buttonPeersMap">Peers map</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search by Address / Txhash" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
        <div class="collapse" id="explorerConfiguration">
            <div class="card card-body">
                <input class="form-control mr-sm-2" id="nodeUrl" placeholder="http://localhost:5000" value="http://localhost:5000" />
            </div>
        </div>

        <section id="loadingBox">Loading ...</section>

        <section id="homeSection">
            <div class="container mt-3">
                <div class="row"></div>
                <div class="row">
                    <div class="col">
                        <h5>Blocks</h5>
                        <div id="blocksPlaceHolder">Click a button above to transform the raw JS data.</div>
                    </div>
                    <div class="col">
                        <h5>Transactions</h5>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Amount</th>
                                    <th scope="col">From</th>
                                    <th scope="col">To</th>
                                    <th scope="col">Transaction</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>48.430 Ether</td>
                                    <td>0x7def6b7455c...</td>
                                    <td>0xef710b978e6...</td>
                                    <td>@0X89EEA1EFE7</td>
                                </tr>
                                <tr>
                                    <td>48.430 Ether</td>
                                    <td>0x7def6b7455c...</td>
                                    <td>0xef710b978e6...</td>
                                    <td>@0X89EEA1EFE7</td>
                                </tr>
                                <tr>
                                    <td>48.430 Ether</td>
                                    <td>0x7def6b7455c...</td>
                                    <td>0xef710b978e6...</td>
                                    <td>@0X89EEA1EFE7</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>

        <section id="blocksSection">
            Blocks
        </section>

        <section id="transactionsSection">
            Transactions
        </section>

        <section id="accountsSection">
            Accounts
        </section>

        <section id="peersMapSection">
            Peers map
        </section>

        <hr />
        <footer>
            <p>&copy; 2018 - Blockchain Explorer</p>
        </footer>
    </div>

    <script type="text/template" id="blck-tmpl">
        <table class="table table-hover">
            <tbody>
                <% _.each( target, function(i) {%>
                <tr>
                    <td>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Block #<%= i.index %></h5>
                                <p class="card-text"><%= i.dateCreated %></p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="card-body">
                            <p class="card-text">mined By <%= i.minedBy %> <b><%= i.transactions.length %> txns</b></p>
                            <p class="card-text">block Reward <b>?? coins</b></p>
                        </div>
                    </td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </script>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.js"></script>
    <script src="./js/explorer.js"></script>
</body>
</html>
