<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>B-Explorer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css" />
    <link rel="stylesheet" href="./css/site.css" />
    <link rel="stylesheet" href="./css/pagination.css" />
</head>
<body>
    <div class="container body-content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" data-toggle="collapse" href="#explorerConfiguration" style="cursor: pointer">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>Blockchain Explorer
            </a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" id="buttonHome">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="buttonBlocks">Blocks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="buttonTransactions">Transactions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="buttonAccounts">Address balance</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="buttonPeersNetwork">Peers network</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" id="searchBox" placeholder="Search by Txhash/Blkhash" aria-label="Search">
                    <button type="button" class="btn btn-outline-primary my-2 my-sm-0" id="buttonSearch">Search</button>
                </form>
            </div>
        </nav>

        <div class="collapse" id="explorerConfiguration">
            <div class="card card-body">
                <form id="blockchainNodeForm" data-toggle="validator" role="form">
                    <div class="input-group input-group-sm">
                        <div class="form-group input-group mb-3">
                            <div class="input-group-prepend"><span class="input-group-text">Blockchain Node</span></div>
                            <input type="text" required data-error="Please enter node url" id="blockchainNodeUrl" class="form-control" value="http://localhost:5101">
                            <div class="help-block with-errors"></div>
                            <button type="button" id="buttonSetNodeUrl" class="btn btn-outline-dark">Connect to Node</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <section id="loadingBox">Loading ...</section>

        <section id="homeSection">
            <div class="container mt-3">
                <div class="row">
                    <div class="col">
                        <div class="d-flex">
                            <h5>Unconfirmed transactions</h5>
                        </div>
                        <div id="unconfirmedTransactionsPlaceHolder">No unconfirmed transactions.</div>
                    </div>
                </div>
            </div>
            <div class="container mt-3">
                <div class="row">
                    <div class="col">
                        <div class="d-flex">
                            <h5>Last 5 blocks</h5>
                            <a class="ml-auto" style="cursor: pointer;" id="viewAllBlocks">View all</a>
                        </div>
                        <div id="blocksPlaceHolder">No blocks available.</div>
                    </div>
                    <div class="col">
                        <div class="d-flex">
                            <h5>Last 5 transactions</h5>
                            <a class="ml-auto" style="cursor: pointer;" id="viewAllTransactions">View all</a>
                        </div>
                        <div id="transactionsPlaceHolder">No transactions available.</div>
                    </div>
                </div>
            </div>
        </section>

        <section id="blocksSection">
            <div class="container mt-3">
                <div class="d-flex">
                    <h5>Blocks</h5>
                    <ul class="ml-auto pagination" id="blocksListPagination"></ul>
                </div>
                <div id="blocksListPlaceHolder">No blocks available.</div>
            </div>
        </section>

        <section id="transactionsSection">
            <div class="container mt-3">
                <div class="d-flex">
                    <h5>Transactions</h5>
                    <ul class="ml-auto pagination" id="transactionsListPagination"></ul>
                </div>
                <div id="transactionsListPlaceHolder">No transactions available.</div>
            </div>
        </section>

        <section id="accountsSection">
            <div class="container mt-3">
                <h5>View address balance</h5>
                <form id="accountBalanceForm" data-toggle="validator" role="form">
                    <div class="form-group input-group  mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Address</span>
                        </div>
                        <input type="text" required data-error="Please enter address" id="accountBalanceAddress" class="form-control">
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group input-group  mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Confirmations</span>
                        </div>
                        <input type="number" required data-error="Please enter confirmations number" value="6" id="accountBalanceConfirmations" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <button type="button" id="buttonDisplayBalance" class="btn btn-outline-primary">Display balance</button>
                    </div>
                </form>

                <div class="input-group  mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Confirmed</span>
                    </div>
                    <label id="balanceConfirmed" disabled class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" />
                </div>
                <div class="input-group  mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Last mined</span>
                    </div>
                    <label id="balanceLastMined" disabled class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" />
                </div>
                <div class="input-group  mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Pending</span>
                    </div>
                    <label id="balancePending" disabled class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" />
                </div>
            </div>
        </section>

        <section id="peersMapSection">
            <div class="container mt-3">
                <h5>Peers network</h5>
                <div id="peersNetworkPlaceholder" align="center">No peers available.</div>
            </div>
        </section>

        <section id="searchResultsSection">
            <div class="container mt-3">
                <h5>Search section</h5>

                <pre id="searchResultsPlaceHolder">No data found.</pre>
            </div>
        </section>

        <footer>
            <hr style="margin:0px;padding:0px;" />

            <nav class="navbar navbar-expand-lg">
                <div class="collapse navbar-collapse">
                    <div class="navbar-nav">
                        <span class="nav-link">&copy; 2018 B-Explorer</span>
                        <span class="nav-link" id="nodeAbout">B-Chain</span>
                        <span class="nav-link" id="nodeName">MainNode</span>
                        <span class="nav-link" id="blockchainDifficulty">Difficulty 5</span>
                    </div>
                </div>
            </nav>
        </footer>
    </div>

    <script type="text/template" id="blck-tmpl">
        <table class="table table-hover">
            <tbody>
                <% _.each( target, function(i) {%>
                <tr>
                    <td>
                        <div class="card">
                            <div class="card-body">
                                <p class="card-title">Block <b>#<%= i.index %></b> <small>(<%= i.dateCreated %>)</small> - <%= i.transactions.length %> txns reward <%= i.transactions[0].value %> coins</p>
                                <p class="card-text">mined by <i><%= i.minedBy %></i> </p>
                            </div>
                        </div>
                    </td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </script>

    <script type="text/template" id="blck-list-tmpl">
        <table class="table table-hover">
            <tbody>
                <tr>
                    <td scope="col">Status</td>
                    <td scope="col">Hash</td>
                    <td scope="col">Transactions</td>
                </tr>
                <% _.each( target, function(i) {%>
                <tr>
                    <td><small class="badge badge-success">#<%= i.index %></small><br /><small><%= i.dateCreated %></small></td>
                    <td><small><%= i.blockHash %></small><br /><small>contains: <%= i.transactions.length %> txns</small></td>
                    <td>
                        <% _.each( i.transactions, function(j) {%>
                        <small><%= j.value %> coins with <%= j.fee %> fee </small><br /><small>tx: <%= j.transactionHashHex %></small>
                        <% }); %>
                    </td>
                    <!--<td><%= i.minedByLabel %></td>-->
                </tr>
                <% }); %>
            </tbody>
        </table>
    </script>
    <script type="text/template" id="trns-tmpl">
        <table class="table table-hover">
            <tbody>
                <% _.each( target, function(i) {%>
                <tr>
                    <td>
                        <div class="card">
                            <div class="card-body">
                                <p class="card-title">Transaction <small>(<%= i.dateCreated %>)</small> - <%= i.value %> coins</p>
                                <small>tx: <%= i.transactionHashHex %></small><br />
                                <small>from: <i><%= i.from %></i></small><br />
                                <small>to: <i><%= i.to %></i></small>
                            </div>
                        </div>
                    </td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </script>
    <script type="text/template" id="unconf-trns-tmpl">
        <table class="table table-hover">
            <tbody>
                <tr>
                    <td scope="col">Amount</td>
                    <td scope="col">Transaction</td>
                    <td scope="col">Details</td>
                </tr>
                <% _.each( target, function(i) {%>
                <tr>
                    <td><small><%= i.value %> coins </small><br /><small>(<%= i.dateCreated %>)</small></td>
                    <td><small>tx: <%= i.transactionHashHex %></small></td>
                    <td><small>from: <%= i.from %></small><br/><small>to: <%= i.to %></small></td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </script>

    <script type="text/template" id="trns-list-tmpl">
        <table class="table table-hover">
            <tbody>
                <tr>
                    <td scope="col">Status</td>
                    <td scope="col">Transaction</td>
                    <td scope="col">Details</td>
                </tr>
                <% _.each( target, function(i) {%>
                <tr>
                    <td>
                        <% if (i.transferSuccessful) { %>
                        <small class="badge badge-success">Success</small>
                        <% } else { %>
                        <small class="badge badge-danger">Error</small>
                        <% } %>
                        <br /><small><%= i.dateCreated %></small>
                    </td>
                    <td><small><%= i.value %> coins with <%= i.fee %> fee in block <small>#<%= i.minedInBlockIndex %></small> </small><br /><small>tx: <%= i.transactionHashHex %></small></td>
                    <td><small>from: <%= i.from %></small><br /><small>to: <%= i.to %></small></td>
                </tr>
                <% }); %>

            </tbody>
        </table>
    </script>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js"></script>
    <script src="./js/explorer.js"></script>
    <!--<script src="./lib/pagination.js"></script>-->
    <script src="./lib/jquery.bootpag.js"></script>
</body>
</html>
